@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --border: #363636;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: #1e1e1e;
  font-size: 1.2rem;
  color: #6c7983;
}

.input {
  padding-top: 2rem;
  text-align: center;
  font-size: 1rem;
}

.input label {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid #6c7983;
  cursor: pointer;
}

.input label:hover {
  border: 2px solid #e86a33;
  color: #e86a33;
}

.fas {
  padding-right: 5px;
}

h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-top: 10rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(to right, #f2e3db 25%, #e86a33 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

#blob {
  background-color: white;
  height: 250px;
  aspect-ratio: 1;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #feff86, #b0daff);
  animation: rotate 20s infinite;
  filter: blur(100px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}
